@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Rajdhani&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: #ebe7e7;
  display: grid;
  gap: 15px;
  justify-items: center;
}

.gridtitulo {
  display: grid;
  gap: 10px 0px 30px 0px;
  grid-template-columns: repeat (3, 1fr);
}

.titulo {
  color: rgb(191, 133, 245);
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  line-height: 1;
  grid-column: 1 / 3;
  font-weight: bold;
}

.gridmenu {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
}

.vazio {
  grid-column: 1;
}

.menu {
  text-decoration: none;
  color: #220e25;
  background-color: #d3d3d3;
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}

.vazio2 {
  grid-column: 6;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 40px;
  max-width: 1000;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

.info {
  display: grid;
  gap: 20px;
  background-color: #d3d3d3;
  justify-items: end;
  font-size: 20px;
  line-height: 1.3;
  padding: 40px;
  text-align: right;
  align-content: center;
  position: relative;
}

.barrinha {
  width: 70px;
  height: 4px;
  background-color: rgb(180, 115, 241);
  position: absolute;
  animation: glow 1s ease-in-out infinite alternate;
  text-shadow: rgb(218, 185, 218) 0em 0em 0.2em;
  right: -35px;
  top: 30px;
}
/* 
@keyframes glow {
  from {
    text-shadow: 0 0 10px #8154ca, 0 0 13px #8154ca, 0 0 16px #8154ca,
      0 0 20px #8154ca, 0 0 25px #8154ca;
  }
  to {
    text-shadow: 0 0 14px #a576f0, 0 0 18px #a576f0, 0 0 23px #a576f0,
      0 0 28px #a576f0, 0 0 35px #a576f0;
  }
} */

.subtitulo {
  text-align: end;
  color: #220e25;
}

.lema {
  font-size: 25px;
  color: #220e25;
  text-align: end;
}

.comprar {
  text-decoration: none;
  color: rgb(191, 133, 245);
  background-color: #220e25;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.bikepreta {
  max-width: 100%;
  /* grid-column: 2 / 3; */
  display: block;
}

.beneficios {
  /* grid-column: 1; */
  background-color: rgb(53, 51, 51);
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  padding: 20px 30px 20px 30px;
  color: #5f5e5e;
}

.vantagens {
  /* grid-column: 2; */
  background-color: #d3d3d3;
  color: #220e25;
}

h3 {
  color: rgb(185, 118, 248);
}

.footer {
  margin: 0px;
  padding: 5px;
  background-color: #d3d3d3;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: #220e25;
  font-size: 25px;
}
